.about-us {
    background-color: $normal-white;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &__container {
        display: flex;
        width: 1200px;
        flex-direction: column;
        justify-content: center;

        &__what-we-want {
            width: 520px;
            padding: 8rem 0 4rem;

            > h1 {
                text-transform: uppercase;
                font-size: $h1;
                .blue {
                    color: $normal-navy;
                }

                .green {
                    color: $normal-green;
                }

                &::after {
                    content: "";
                    background-color: $normal-green;
                    display: block;
                    height: 3px;
                    width: 50%;
                    margin: 1rem 0;
                }
            }

            > h5 {
                font-size: $h5;
                font-weight: 300;
            }
        }

        &__what-we-do {
            margin-top: 4rem;

            > h2 {
                font-size: $h2;
                text-transform: uppercase;

                &::after {
                    content: "";
                    background-color: $normal-green;
                    display: block;
                    height: 3px;
                    width: 160px;
                    margin: 1rem 0;
                }
            }

            &__container {
                display: flex;
                position: relative;

                &__squares {
                    width: 460px;
                    height: 100%;
                    display: flex;
                    background: transparent;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 2rem;

                    &__square {
                        box-shadow: -5px 5px 10px 5px rgba(0, 0, 0, 0.3);
                        margin: 1rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                &__card {
                    width: 540px;
                    height: 720px;
                    padding: 4rem;
                    background-color: #fff;
                    box-shadow: -5px 5px 10px 5px rgba(0, 0, 0, 0.3);

                    position: absolute;
                    top: -60%;
                    right: 0;

                    > h2 {
                        width: 126px;
                        text-transform: uppercase;
                        font-size: $h2;

                        &::after {
                            content: "";
                            background-color: $normal-green;
                            display: block;
                            height: 3px;
                            width: 80px;
                            margin: 1rem 0;
                        }
                    }

                    > p {
                        margin-top: 3rem;
                    }
                }
            }

            > p {
                margin-top: 4rem;
            }
        }

        &__why-interface {
            margin: 4rem 0;

            > h2 {
                font-size: $h2;
                text-transform: uppercase;

                &::after {
                    content: "";
                    background-color: $normal-green;
                    display: block;
                    height: 3px;
                    width: 20%;
                    margin: 1rem 0;
                }
            }

            &__container {
                display: flex;
                align-items: center;
                justify-content: space-between;

                &__text {
                    width: 600px;

                    > p {
                        margin: 2rem 0;
                    }
                }
            }
        }

        &__faq {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 112px;

            &__container {
                display: flex;
                align-items: center;
                justify-content: space-between;

                &__header {
                    width: 540px;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    margin-right: 120px;

                    &__head {
                        width: 100%;
                        background-color: $light-navy;
                        color: $normal-white;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 8px 16px;
                        margin: 16px 0;
                        transition: all ease-in-out 0.4s;

                        &__title {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            > img {
                                margin-right: 1rem;

                            }

                            > h4 {
                                font-size: $h4;
                            }
                        }

                        &__arrow {
                            > img {
                                transition: all ease-in-out 0.3s;
                                cursor: pointer;
                            }
                        }
                    }


                }

                &__card {
                    width: 540px;
                    padding: 1rem;
                    box-shadow: -5px 5px 10px 5px rgba(0, 0, 0, 0.3);
                    transition: all ease-in-out 0.3s;

                    &__inner {
                        width: 100%;
                        transition: all ease-in-out 0.3s;

                        > p {
                            font-size: 1rem;
                        }
                    }

                    #card-result {
                        transition: all ease-in-out 0.3s;
                    }
                }
            }
        }

        &__objectives {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &__objective {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                margin-top: 4rem;

                &__card {
                    width: 300px;
                    height: 300px;
                    background-color: #fff;
                    box-shadow: -5px 5px 10px 5px rgba(0, 0, 0, 0.3);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 6rem;
                }

                .missao {
                    position: absolute;
                    top: -70%;
                    z-index: 9;
                }

                > p {
                    width: 600px;
                }
            }
        }

        &__founder {
            margin: 6rem 0;

            > h2 {
                font-size: $h2;
                text-transform: uppercase;

                &::after {
                    content: "";
                    background-color: $normal-green;
                    display: block;
                    height: 3px;
                    width: 112px;
                    margin: 1rem 0;
                }
            }

            &__container {
                display: flex;
                align-items: center;
                justify-content: center;

                &__card {
                    width: 360px;
                    height: 540px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    box-shadow: -5px 5px 10px 5px rgba(0, 0, 0, 0.3);
                    border-radius: 10px;

                    .image {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        > img {
                            width: 320px;
                            height: 320px;
                            border-radius: 999px;
                        }
                    }

                    > h2 {
                        font-size: $h2;
                        text-transform: uppercase;
                        margin-top: 24px;
                    }

                    > p {
                        width: 320px;
                        margin-top: 24px;
                    }
                }
            }
        }
    }
}

.about-us-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us__container__faq__container__header__head {
    &.actived {
        background-color: $dark-navy;
    }
}

.arrow-active {
    transform: rotate(-90deg);

}

@media screen and (max-width: $bg) {
    .about-us {
        display: flex;
        align-items: center;
        justify-content: center;

        &__container {
            display: flex;
            width: 100%;

            &__what-we-want {
                padding: 8rem 2rem 4rem;

                > h1 {
                    text-transform: uppercase;
                    font-size: $h2;
                }
            }

            &__what-we-do {
                margin: 0;
                padding: 4rem 2rem;

                > h2 {
                    font-size: $h3;

                    &::after {
                        width: 120px;
                    }
                }

                &__container {
                    display: flex;
                    position: relative;
                    width: 100%;

                    &__squares {
                        width: 50%;
                        height: 100%;

                        &__square {
                            width: 40%;

                            > img {
                                width: 100%;
                            }
                        }
                    }

                    &__card {
                        width: 40%;
                        height: 720px;
                        padding: 3rem;

                        position: absolute;
                        top: -20%;
                        right: 0;

                        > h2 {
                            width: 96px;
                            font-size: $h3;

                            &::after {
                                width: 50px;
                            }
                        }

                        > p {
                            margin-top: 2rem;
                        }
                    }
                }

                > p {
                    margin-top: 3rem;
                    width: 55%;
                }
            }

            &__why-interface {
                margin: 0;
                padding: 3rem 2rem;

                > h2 {
                    font-size: $h3;
                }
            }

            &__faq {
                padding: 0 2rem;

                &__container {
                    &__header {
                        width: 45%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        margin-right: 80px;

                        &__head {
                            &__title {
                                > h4 {
                                    font-size: $h5;
                                }
                            }
                        }
                    }

                    &__card {
                        width: 45%;
                    }
                }
            }

            &__objectives {
                &__objective {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;
                    margin-top: 2rem;
                    padding: 2rem;

                    &__card {
                        width: 240px;
                        height: 240px;
                        background-color: #fff;
                        box-shadow: -5px 5px 10px 5px rgba(0, 0, 0, 0.3);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 4rem;
                    }

                    .missao {
                        position: absolute;
                        top: -40%;
                        z-index: 9;
                    }

                    > p {
                        width: 600px;
                    }
                }
            }

            &__founder {
                margin: 0;
                padding: 4rem 2rem;

                > h2 {
                    font-size: $h2;
                    text-transform: uppercase;

                    &::after {
                        content: "";
                        background-color: $normal-green;
                        display: block;
                        height: 3px;
                        width: 112px;
                        margin: 1rem 0;
                    }
                }

                &__container {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &__card {
                        width: 360px;
                        height: 540px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        box-shadow: -5px 5px 10px 5px rgba(0, 0, 0, 0.3);
                        border-radius: 10px;

                        .image {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            > img {
                                width: 320px;
                                height: 320px;
                                border-radius: 999px;
                            }
                        }

                        > h2 {
                            font-size: $h2;
                            text-transform: uppercase;
                            margin-top: 24px;
                        }

                        > p {
                            width: 320px;
                            margin-top: 24px;
                        }
                    }
                }
            }
        }
    }

    .about-us-image {
        display: flex;
        align-items: center;
        justify-content: center;

        > img {
            width: 100vw;
        }
    }
}

@media screen and (max-width: $md) {
    .about-us {
        &__container {
            &__what-we-want {
                padding: 6rem 2rem 4rem;

                > h1 {
                    font-size: $h2;
                }
            }

            &__what-we-do {
                &__container {
                    display: flex;
                    position: relative;
                    width: 100%;

                    &__squares {

                        &__square {
                            width: 40%;
                        }
                    }
                    &__card {
                        width: 40%;
                        height: fit-content;
                        padding: 3rem;

                        top: -50%;
                        right: 0;
                    }
                }

                > p {
                    margin-top: 3rem;
                    width: 50%;
                }
            }

            &__why-interface {
                margin: 0;
                padding: 2rem;

                &__container {
                    &__text {
                        width: 50%;
                    }

                    &__img {
                        width: 50%;

                        > img {
                            width: 100%;
                        }
                    }
                }
            }

            &__objectives {
                &__objective {
                    width: 100%;
                    margin-top: 2rem;
                    padding: 2rem;

                    &__card {
                        width: 240px;
                        height: 240px;
                        margin: 0 2rem;

                        > img {
                            width: 96px;
                        }
                    }

                    .missao {
                        position: initial;
                    }
                }
            }

            &__founder {
                margin: 0;
                padding: 2rem;

                > h2 {
                    font-size: $h3;
                }

                &__container {
                    &__card {
                        width: 360px;
                        height: fit-content;
                        padding: 2rem;

                        .image {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            > img {
                                width: 240px;
                                height: 240px;
                                border-radius: 999px;
                            }
                        }

                        > h2 {
                            font-size: $h3;
                            text-transform: uppercase;
                            margin-top: 24px;
                        }

                        > p {
                            text-align: center;
                            width: 100%;
                            margin-top: 24px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $x-sm) {
    .about-us {
        text-align: center;

        &__container {
            &__what-we-want {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                padding: 6rem 0 2rem;

                > h1 {
                    text-align: center;
                    font-size: $h4;
                    width: 100%;

                    &::after {
                        width: 50%;
                        margin: 1rem 25%;
                    }
                }

                > h5 {
                    font-size: $h6;
                    width: 80%;
                }
            }

            .about-us-image {
                display: none;
            }

            &__what-we-do {
                margin: 0;
                padding: 2rem;

                > h2 {
                    &::after {
                        width: 50%;
                        margin: 1rem 25%;
                        font-size: $h4;
                    }
                }

                &__container {
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    &__squares {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &__square {
                            width: 60%;
                        }
                    }
                    &__card {
                        margin: 2rem 0;
                        width: 100%;
                        height: fit-content;
                        padding: 3rem;
                        position: initial;

                        > h2 {
                            width: 100%;

                            &::after {
                                width: 50%;
                                margin: 1rem 25%;
                            }
                        }
                    }
                }

                > p {
                    margin-top: 2rem;
                    width: 100%;
                    text-align: start;
                }
            }

            &__why-interface {
                margin: 0;
                padding: 2rem;

                > h2 {
                    &::after {
                        width: 50%;
                        margin: 1rem 25%;
                    }
                }
                &__container {
                    &__text {
                        width: 100%;
                        text-align: start;
                    }

                    &__img {
                        display: none;
                    }
                }
            }

            &__faq {
                width: 100%;
                margin-bottom: 64px;
                padding: 0 2rem;
    
                &__container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
    
                    &__header {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        margin-right: 0;
    
                        &__head {
                            width: 100%;
    
                            &__title {
    
                                > h4 {
                                    font-size: $h5;
                                }
                            }

                            &__arrow {
                                display: none;
                            }
                        }
                    }
    
                    &__card {
                        width: 100%;
                        margin-top: 1rem;
                    }
                }
            }

            &__objectives {
                &__objective {
                    width: 100%;
                    margin-top: 1rem;
                    padding: 1rem 2rem;
                    flex-direction: column;

                    &__card {

                        display: none;
                    }

                    > p {
                        width: 100%;
                        text-align: start;
                    }

                    .p-missao {
                        &::before {
                            content: "MISSÃO";
                            color: #000;
                            display: block;
                            font-size: $h4;
                            font-weight: 500;
                            margin: 1rem 0;
                        }
                    }

                    .p-visao {
                        &::before {
                            content: "VISÃO";
                            color: #000;
                            display: block;
                            font-size: $h4;
                            font-weight: 500;
                            margin: 1rem 0;
                        }
                    }

                    .p-valores {
                        &::before {
                            content: "VALORES";
                            color: #000;
                            display: block;
                            font-size: $h4;
                            font-weight: 500;
                            margin: 1rem 0;
                        }
                    }
                    .missao {
                        position: initial;
                        margin: 2rem 0;
                    }
                }
            }

            &__founder {
                margin: 0;
                padding: 2rem;

                > h2 {
                    font-size: $h4;

                    &::after {
                        width: 50%;
                        margin: 1rem 25%;
                    }
                }

                &__container {
                    &__card {
                        width: 320px;
                        height: fit-content;
                        padding: 2rem;
                        margin-top: 1rem;

                        .image {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            > img {
                                width: 240px;
                                height: 240px;
                                border-radius: 999px;
                            }
                        }

                        > h2 {
                            font-size: $h3;
                            text-transform: uppercase;
                            margin-top: 24px;
                        }

                        > p {
                            text-align: center;
                            width: 100%;
                            margin-top: 24px;
                        }
                    }
                }
            }
        }
    }
}
