.admin-container {
    width: 100vw;
    height: 100vh;
    background: url("./../images/admin-bg.jpg") no-repeat center center/cover;
    position: relative;

    .aside {
        position: fixed;
        top: 0;
        left: 0;
        width: 15vw;
        height: 100%;

        background: rgba(255, 255, 255, 0.65);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(5.5px);
        -webkit-backdrop-filter: blur(5.5px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);

        .title {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            > img {
                width: 48px;
            }
        }

        > ul {
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            > li {
                width: 100%;
                height: 2rem;
                margin: 2rem 0;
                display: flex;
                align-items: center;
                justify-content: center;

                > a {
                    text-transform: uppercase;
                    font-weight: 600;
                    color: $dark-navy;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    > i {
                        margin: 0 1rem;

                    }

                    &:hover {
                        color: $normal-green;
                    }
                }
            }
        }

        .logout {
            margin: 0 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #d61034;
            padding: 0.5rem;
            color: $normal-white;
            border-radius: 1rem;


            &:hover {
                background-color: #af1834;
                color: $normal-white;
            }
        }
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 4rem 0 4rem calc(15vw);

        &__container {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            table {
                width: 90%;
                padding: 2rem;
                height: 100%;
                border-radius: 8px;
                border-bottom: 1px solid $dark-white;
                border-spacing: 0;
                table-layout: fixed;

                background: rgba(255, 255, 255, 0.65);
                box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                backdrop-filter: blur(5.5px);
                -webkit-backdrop-filter: blur(5.5px);
                border-radius: 10px;
                border: 1px solid rgba(255, 255, 255, 0.18);

                thead {
                    th {
                        padding: 0.5rem 0;
                        text-align: center;
                        border-bottom: 1px solid $dark-white;
                        font-size: $h5;
                        color: $dark-navy;
                    }
                }

                tbody {
                    tr:nth-of-type(odd) {
                        background-color: #cdedf1;

                        &:hover {
                            background-color: #ecf7ff;
                        }
                    }

                    tr {
                        padding: 0 2rem;
                        margin: 1rem 0;

                        .table-description {
                            vertical-align: middle;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }

                        td {
                            text-align: center;
                            color: $dark-navy;
                            vertical-align: middle;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;

                            > a {
                                color: $dark-navy;
                            }

                            .edit {
                                background-color: $normal-green;
                                padding: 0.5rem;
                                border-radius: 1rem;
                                border: none;
                                font-size: $h6;
                                color: $normal-white;
                                cursor: pointer;

                                > a {
                                    color: $normal-white;
                                    > img {
                                        width: 16px;
                                    }
                                }

                                &:hover {
                                    background-color: $dark-green;
                                }
                            }

                            .delete {
                                background-color: #d61034;
                                padding: 0.5rem;
                                border-radius: 1rem;
                                border: none;
                                font-size: $h6;
                                color: $normal-white;
                                cursor: pointer;

                                > a {
                                    color: $normal-white;

                                    > img {
                                        width: 16px;
                                    }
                                }
                                &:hover {
                                    background-color: #af1834;
                                }
                            }
                        }
                    }
                }
            }

            .new-post {
                width: 60%;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #fff;
                box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.226);
                border-radius: 2rem;

                .title-new-post {
                    font-size: $h2;
                    color: $dark-navy;
                    margin: 1.5rem 0;
                }

                form#new-post {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    padding: 2rem;

                    label {
                        font-size: $h6;
                        color: $dark-grey;
                        font-weight: 600;
                    }

                    .description {
                        margin: 1rem 0;
                        width: 100%;
                        > label {
                            text-align: left;
                        }

                        > textarea {
                            width: 100%;
                            height: 10rem;
                            border-radius: 0.5rem;
                            font-size: $h6;
                            padding: 1rem;

                            &:focus {
                                outline: none;
                                border: 2px solid $normal-green;
                            }
                        }
                    }
                    .name-category {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin: 1rem 0;

                        .name,
                        .category {
                            width: 50%;
                            > input,
                            select {
                                width: 100%;
                                height: 2rem;
                                border-radius: 0.5rem;
                                font-size: $h6;
                                padding: 0 0.5rem;
                            }
                        }

                        .name {
                            margin-right: 1rem;

                            > input {
                                border: 1px solid $dark-navy;
                                &:focus {
                                    outline: none;
                                    border: 2px solid $normal-green;
                                }
                            }
                        }
                    }
                    .video,
                    .address {
                        width: 100%;
                        > input {
                            width: 100%;
                            height: 2rem;
                            border-radius: 0.5rem;
                            font-size: $h6;
                            padding: 0 0.5rem;
                            border: 1px solid $dark-navy;

                            &:focus {
                                outline: none;
                                border: 2px solid $normal-green;
                            }
                        }
                    }

                    .imagesClass {
                        margin: 1rem 0;

                        width: 100%;
                        > input {
                            width: 100%;
                        }

                        .images-posted {
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;

                            .image-posted {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                margin: 0.5rem;

                                > img {
                                    width: 10vw;
                                    height: 20vh;
                                    display: block;
                                    margin: 0.5rem 0;
                                }

                                .delete-button {
                                    background-color: #d61034;
                                    color: $normal-white;
                                    border-radius: 99rem;
                                    text-align: center;
                                    padding: 0.3rem;

                                    > img {
                                        width: 24px;
                                        height: 24px;
                                    }
                                }
                            }
                        }
                    }

                    > button {
                        margin: 2rem 0 1rem;
                        width: 100%;
                        height: 2.5rem;
                        font-size: $h5;
                        text-transform: uppercase;
                        color: $normal-white;
                        background-color: $normal-green;
                        border-radius: 1rem;
                        border: none;
                        cursor: pointer;
                        font-weight: 600;

                        &:hover {
                            background-color: $dark-green;
                        }
                    }
                }
            }
        }
    }
}

.error {
    border-radius: 10px;
    padding: 0.5rem;
    width: 40%;
    text-align: center;
    background-color: rgba(155, 68, 84, 0.6);
    border: 2px solid #af1834;
    color: $normal-white;
}

.success {
    border-radius: 10px;
    padding: 0.5rem;
    width: 40%;
    text-align: center;
    background-color: rgba(121, 187, 121, 0.6);
    border: 2px solid $normal-green;
    color: $normal-white;
}
