.como-funcionam {
    width: 100%;
    height: 100%;
    background-color: $normal-white;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        width: 1200px;
        margin: 112px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &__title {
            h1 {
                font-size: $h2;
                text-transform: uppercase;

                &::after {
                    content: "";
                    width: 50%;
                    height: 3px;
                    display: block;
                    background-color: $normal-green;
                    margin: 16px 25% 0;
                }
            }
        }

        &__description {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 146px;

            &__img {
                .como-funcionam-img {
                    width: 90%;
                }
            }

            &__text {
                &__right {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:not(:last-child) {
                        margin-bottom: 16px;
                    }

                    p {
                        width: 440px;
                        height: 60px;
                        margin-left: 2rem;
                        text-align: justify;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $bg) {
    .como-funcionam__container {
        padding: 0 2rem;
    }
}

@media screen and (max-width: $md) {
    .como-funcionam {
        &__container {
            &__title {
                h1 {
                    font-size: $h3;
                    text-transform: uppercase;
                    text-align: center;
                }
            }

            &__description {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 5rem;

                &__img {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .como-funcionam-img {
                        width: 100%;
                    }
                }

                &__text {
                    &__right {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:not(:last-child) {
                            margin-bottom: 16px;
                        }

                        .como-funcionam-img {
                            width: 3rem;
                        }

                        p {
                            width: 100%;
                            height: 100%;
                            margin-left: 1rem;
                            text-align: justify;
                            padding: 1rem;
                        }
                    }
                }
            }
        }
    }
}
