*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    overflow-x: hidden;

}

::-webkit-scrollbar {
    width: 0.6rem;


}

::-webkit-scrollbar-track {
    background: $normal-white;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgba(100, 180, 45, 0.7);
    border-radius: 10px;
  }

