.error-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .error-container {
        display: flex;
        align-items: center;
        justify-content: center;

        .error-text {
            width: 30%;

            > h1 {
                color: $dark-navy;
                font-size: $display-2;
            }

            > p {
                font-size: $h5;
                padding: 2rem 0;
                width: 80%;
            }
        }

        .error-image {
            > img {
                width: 720px;
                height: 567px;
            }
        }
    }
}

@media screen and (max-width: $bg) {
    .error-section {
        .error-container {
            width: 768px;
            flex-direction: column;

            .error-text {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                > h1 {
                    font-size: $display-2;
                    text-align: center;
                }

                > p {
                    font-size: $h5;
                    padding: 2rem 0;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}

@media screen and (max-width: $x-sm) {
    .error-section {

        .error-container {
            width: 100%;
            padding: 0 1rem;
            position: relative;

            .error-text {
                z-index: 99;

                > h1 {
                    margin: 0;
                    
                    font-size: $h1;
                    text-align: center;
                }

                > p {
                    font-size: $h5;
                    font-weight: 400;
                    padding: 2rem 0;
                    width: 100%;
                    text-align: center;
                }
            }
            .error-image {
                > img {
                    position: absolute;
                    top: -16%;
                    left: 9%;
                    right: 0;
                    width: 320px;
                    opacity: 0.5;
                }
            }
        }
    }
}
