// Colors
$normal-navy: #1d99a7;
$light-navy: #7ECED7;
$dark-navy: #115157;

$normal-green: #64B42D;
$light-green: #94D567;
$dark-green: #4C8B20;

$normal-grey: #284249;
$light-grey: #899A9F;
$dark-grey: #1C3137;


$normal-white: #FDFDFD;
$light-white: #E0E0E0;
$dark-white: #858585;


// Fonts
$display-1: 6rem;
$display-2: 4.5rem;
$display-3: 3.5rem;

$h1: 2.5rem;
$h2: 2rem;
$h3: 1.75rem;
$h4: 1.5rem;
$h5: 1.25rem;
$h6: 1rem;

// Breakpoints
$x-sm: 480px;
$sm: 768px;
$md: 1024px;
$bg: 1200px;
$x-bg: 1201px;