.whatsapp-btn {
    background-color: transparent;
    position: fixed;
    bottom: 2rem;
    right: 4rem;

    z-index: 9999;

    a {

        .whatsapp-icon-cta {
            width: 3.5rem;
            height: 3.5rem;
            
        }
    }
}