<%- include('../includes/head') %>

    <body>
        <%- include('../includes/preloader') %>

        <%- include('../includes/header') %>


        <main class="error-section">
            <div class="error-container">

                <div class="error-text">
                    <h1>Página não encontrada</h1>
                    <p>A página que você procurou não existe. Mas, você pode clicar no nosso menu de navegação e tentar encontrar o que deseja!</p>
                </div>

                <div class="error-image">
                    <img src="./images/404.svg" alt="Imagem de Error">
                </div>
            </div>
        </main>


        <script src="./scripts/preloader.js"></script>
        <script src="../scripts/preloader.js"></script>
        
        <script src="./scripts/header.js"></script>
        <script src="../scripts/header.js"></script>
        
    </body>
</html>
