<%- include('../includes/head') %>

    <body>
        <%- include('../includes/preloader') %>

        <%- include('../includes/header') %>


        <main class="thanks-section">
            <div class="thanks-container">
                <div class="thanks-text">
                    <h1>E-mail enviado!</h1>
                    <p>Obrigado por entrar em contato conosco! Responderemos assim que possível.</p>
                </div>

                <div class="thanks-image">
                    <img src="./images/thanks.svg" alt="Imagem de Agradecimento">
                </div>
            </div>
        </main>


        <script src="./scripts/preloader.js"></script>
        <script src="./scripts/header.js"></script>
        
    </body>
</html>
