<aside class="aside">
    <div class="title">
        <% if (title === 'Interface | Admin - Editar') { %>
            <img src="../../../images/logo-semescrita.png" alt="INTERFACE LOGO" />
        <% } else { %>
            <img src="../images/logo-semescrita.png" alt="INTERFACE LOGO" />
        <% } %>
        <!-- <h1>Interface</h1> -->
    </div>
    <ul>
        <li><a href="/user/admin">HOME</a></li>
        <li><a href="/user/create-post">Criar post</a></li>
    </ul>

    <a href="/user/logout" class="logout">Deslogar</a>
</aside>
