<aside class="aside">
    <div class="title">
        <% if (title === 'Interface | Admin - Editar') { %>
        <img src="../../../images/logo-semescrita.png" alt="INTERFACE LOGO" />
        <% } else { %>
        <img src="../images/logo-semescrita.png" alt="INTERFACE LOGO" />
        <% } %>
    </div>
    <ul>
        <li>
            <a href="/user/admin">
                <i class="fas fa-home"></i> HOME
            </a>
        </li>
        <li>
            <a href="/user/create-post">
                <i class="fas fa-edit"></i>Criar post</a
            >
        </li>
    </ul>

    <a href="/user/logout" class="logout">
        <i class="fas fa-sign-out-alt"></i></a
    >
</aside>
