<footer class="footer">
    <div class="footer__container">
        <div class="footer__container__logo">
            <div class="footer__container__logo__inside">
                <img
                    src="./images/logo-nobg-white.png"
                    alt="Logo Interface"
                />
            </div>
        </div>

        <div class="footer__container__menu">
            <div class="footer__container__menu__inside">
                <ul class="footer-menu-bar">
                    <li class="footer-menu-item"><a href="/">Home</a></li>

                    <li class="footer-menu-item"><a href="/sobre">Sobre</a></li>

                    <li class="footer-menu-item"><a href="/simulacao">Simulador</a></li>

                    <li class="footer-menu-item"><a href="/portfolio">Portfólio</a></li>
                </ul>
            </div>
        </div>

        <div class="footer__container__redes-sociais">
            <div class="footer__container__redes-sociais__inside">
                <h4>Siga-nos</h4>
                <div class=""></div>
                <div class=""></div>
                <div class="rede-social__container">
                    <div class="rede-social">
                        <img
                            src="./images/facebook.png"
                            alt="Facebook"
                            class="footer-img"
                        />
                        <span>/interfacesustentavel</span>
                    </div>
                    <div class="rede-social">
                        <img
                            src="./images/instagram.png"
                            alt="Instagram"
                            class="footer-img"
                        />
                        <span>@interfacesustentavel</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__container__contato">
            <div class="footer__container__contato__inside">
                <h4>Contato</h4>
                <div class="rede-social">
                    <img
                        src="./images/whatsapp.png"
                        alt="WhatsApp"
                        class="footer-img"
                    />
                    <span>(44) 9 9999-9999</span>
                </div>
                <div class="rede-social">
                    <img
                        src="./images/email.png"
                        alt="E-mail"
                        class="footer-img"
                    />
                    <span>contato@interface.com.br</span>
                </div>
                <address class="endereco">
                    <p>Av. John Kennedy, 565, Paranavaí - PR</p>
                    <p>CEP 87705-370</p>
                </address>
            </div>
        </div>
    </div>

    <div class="footer__copy">&copy Desenvolvido por <strong>Sage Victorious</strong>.</div>
</footer>