<header class="header">
    <nav class="navbar">
        <div class="logo">
            <a href="/"
                ><img
                    <% if (title === 'Interface | Portfólio - Serviço') { %>
                        src="../images/logo-navbar.png"
                    <% } %> 
                    src="./images/logo-navbar.png"
                    alt="Interface Logo"
                    class="logo-img"
            /></a>
        </div>

        <div class="menu-mobile">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <ul class="menu-items">
            <% if (title !== 'Interface | Admin') { %>
            <li class="menu-item"><a href="/">Home</a></li>
            <li class="menu-item"><a href="/sobre">Sobre</a></li>
            <li class="menu-item"><a href="/portfolio">Portfólio</a></li>
            <li class="menu-item"><a href="/simulacao">Simulador</a></li>
            <% } %> 

        </ul>
    </nav>
</header>
