<% if (errors.length > 0) { %>
    <span class="error">
        <%= errors %> 
    </span>
<% } %> 

<% if (success.length > 0) { %>
    <span class="success">
        <%= success %> 
    </span>
<% } %> 

