<div class="portfolio-cases">
    <ul>
        <% data.map(e => { %>
            <li>Nome: <%= e.name %>, Endereço: <%= e.address %> , Descrição:<%= e.description %> </li>
        <%}) %> 
    </ul>
</div>