<div class="whatsapp-btn">
    <a
        href="https://web.whatsapp.com/send?phone=554499117-5057"
        target="_blank"
    >
        <img
            src="./images/whatsapp-icon-cta.png"
            alt="Ãcone do WhatsApp"
            class="whatsapp-icon-cta"
    /></a>
</div>