<div class="whatsapp-btn">
    <a
        href="https://web.whatsapp.com/send?phone=5541995817916"
        target="_blank"
    >
        <img
            src="./images/whatsapp-icon-cta.png"
            alt=""
            class="whatsapp-icon-cta"
    /></a>
</div>