<div class="whatsapp-btn">
    <a
        href="https://web.whatsapp.com/send?phone=554499117-5057"
        target="_blank"
    >
        <img
            <% if (title === 'Interface | Portfólio - Serviço') { %>
                src="../images/whatsapp-icon-cta.png"
            <% } %> 
            src="./images/whatsapp-icon-cta.png"
            alt="Ícone do WhatsApp"
            class="whatsapp-icon-cta"
    /></a>
</div>