<%- include('includes/head') %>

    <body>
        <%- include('includes/preloader') %>

        <div class="admin-container">

        <%- include('includes/asideAdmin') %>

    
            <main class="main">
                <div class="main__container">
                    <%- include('includes/tableAdmin') %>

                </div>
            </main>
    
        </div>
        


        <script src="../scripts/preloader.js" type="text/javascript"></script>
    </body>
</html>
